/*    mobile version */
/*header */


.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 470px;
}

#menu_mini_box li{
    list-style-type:none;
}
#menu_mini_box li a{
    color: #000000;
}

body {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.slideout-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}


.slideout-open .slideout-menu {
    display: block;
}

#menu_mini_box {
    position: relative;
    top: 66px;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow-x: hidden;
}


.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

/* menu end*/

/*header*/
.back a{
    width: 120px;
    font-size: 14px;
    text-align: center;
}








p {
    font-size: 14px;
}
h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
}
h2 {
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
}

.popup {
    width: 397px;
}


.back a{
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    background: url(../image/back-mobile.png) no-repeat;
    background-size: contain;
    background-position-x: 5px;
    display: inline-block;

}
.back {
    margin-top: 22px;
    margin-bottom: 15px;
}






/* home */
#home .tile_banner img {
    margin-top: 0;
}

#home .service {

}
#home .margin-top {
    margin-top: 4px;
}

#home .service_input {
    margin: 3vw;
}

#home .button-style-1{
    height: 28px;
    width: 154px;
    line-height: 24px;
}

#home #background-service {
    background: url(../image/home-service-mobile.jpg) no-repeat;
   height: 280px;
    background-size: contain;
}
#home .service p {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.25;
}
#home.service_input input {
    width:55wv;
    font-size: 3vw;
    height: 5vw;
}

#home .service_box>p {
    text-align: center;
    margin-top: 8px;
    padding-right: 0;
    margin-left: 40px;
    margin-right: 40px;
}
#home .service_box .service_input input{
    text-align: center;
}
#home .service_box .service_form{
    padding-left: 58px;
}
#home .service_box .button {
    right: 0;
    top: 11px;
    left: -171px;
}





#generalcatalog .box-mobile {
    position: relative;
    display: inline-block;
}
#generalcatalog .box-mobile .name-box-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#generalcatalog .reference-mobile {
    width: 100%;
    height: 100%;
    top: 0;
}

#generalcatalog .box-mobile#box-1 p, #generalcatalog .box-mobile#box-5 p {
    font-size: 22px;
    line-height: 40px;
}
#generalcatalog .box-mobile#box-1 .name-box-mobile, #generalcatalog .box-mobile#box-5 .name-box-mobile {
    width:158px;
    height: 40px;
}

#generalcatalog .box-mobile#box-2 p, #generalcatalog .box-mobile#box-3 p,
#generalcatalog .box-mobile#box-6 p, #generalcatalog .box-mobile#box-7 p
{
    font-size: 16px;
    line-height: 30px;
}
#generalcatalog .box-mobile#box-2 .name-box-mobile, #generalcatalog .box-mobile#box-3 .name-box-mobile,
#generalcatalog .box-mobile#box-6 .name-box-mobile, #generalcatalog .box-mobile#box-7 .name-box-mobile
{
    width:134px;
    height: 30px;
}

#generalcatalog .box-mobile#box-4 p {
    font-size: 27px;
    line-height: 48px;
}
#generalcatalog .box-mobile#box-4 .name-box-mobile {
    width:224px;
    height: 50px;
}

#generalcatalog .col-hh-6 {
    width: 53.2%;
    padding-right: 2px;
}
#generalcatalog .col-hh-5 {
    width: 46.8%;
    padding-left: 2px;

}

#generalcatalog  .generalcatalog_image_box {
    margin-bottom: 20px;
}


/*caTEGORY */
#category #logo-category {
    width: 30px;
    height: 30px;
    display: inline-block;
}
#category #name-box {
     display: inline-block;
     white-space: nowrap;
     float: right;

    text-align: right;
 }
#category #name-box p{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 18px;
}




#category .check-right {
    right: 8px;
}
#category .select-product-box{
    display: flex;
    align-items: center;
}
#category label{
    font-size: 14px;
    width: 124px;
    margin: 0;
}
#category select{
    width: 223px;
    height: 33px;
    display: inline-block;
}
#category .select-product-box select {
    width: 100%;
}
#category .margin-bottom-mobile {
    margin-bottom: 20px;
}
#category .product-grid {
    margin-bottom: 10px;
}
#category .product-grid:last-child {
    margin-bottom: 20px;
}

#category .product-grid .name p  {
    margin-top: 10px;
}

#category .product-grid>.col-xs-12 {
    display: flex;
    align-items: center;
    height: 140px;
}
#category .product-grid>.col-xs-12>.col-xs-8 {
    padding-right: 0;
    height: 100%;
}
#category .product-grid>.col-xs-12>.col-xs-8>p {
    text-align: left;
    position: absolute;
}
#category .product-grid>.col-xs-12>.col-xs-8>p.name-product {
    top: 5px;
}
#category .product-grid>.col-xs-12>.col-xs-8>p.price {
    bottom: 50px;
}
#category .product-grid>.col-xs-12>.col-xs-8>button.button-style-1 {
    position: absolute;
    bottom: 7px;
}
/*product*/


#product #name-box {
    display: inline-block;
    white-space: nowrap;
    float: right;

    text-align: right;
}
#product #name-box p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}
#product .thumbnail{
    height: 245px;
}
#product .ome-image{
    position: inherit;
}
#product .images-item{
   width: auto;
   position: inherit;
   margin: 0;
}
#product .price{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 16px;
}
#product .price h2{
    margin: 0;
}
#product .thumbnail {
    margin-bottom: 0;
}
#product .button-calc-mobile{
    margin-bottom: 15px;
}
#product .button-phone-mobile{
    margin-bottom: 20px;
}
#product .nav-tabs {
     width: auto;
     display: flex;
     margin-bottom: 0;
     margin-top: 0;
}
#product .nav.nav-tabs .button {
    flex: 1;
}

#product .button-tabs-mobile{
    margin-bottom: 7px;
}
#product .check-info {
    width: auto;
    height: auto;
}

#product .button-tab-mobile{
    margin-bottom: 15px;
}
#product #characteristic-tab .characteristic-top-text-mobile {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
#product #characteristic-tab #size-box-mobile{
    white-space: nowrap;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 3px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
#product #characteristic-tab #size-box-mobile>div {
    flex: 1;
    padding-left: 3px;
    padding-right: 3px;
}
#product #characteristic-tab #size-box-mobile .block-line-mobile p{
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
#product #characteristic-tab #size-box-mobile .block-line-mobile .name{
    font-size: 16px;
}
#product #characteristic-tab .characteristic-box-mobile{
    text-align: center;
}

#product #description-tab {
    text-align: justify;
}

#product #delivery-tab {
    padding-top: 20px;
}
#product #delivery-tab>.row {
    padding-left: 15%;
    padding-right: 15%;
}
#product #delivery-tab p {
    margin-top: 5px;
    margin-bottom: 10px;
}
#product .button-perfect-mobile{
    margin-bottom: 15px;
}
#product #perfect .element>p, #product #perfect .our-advantages>p  {
    font-size: 13px;
    margin-top: 6px;
    line-height: 1.2;
}
#product #perfect .name-perfect {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
#product #perfect .payment, #product #perfect .our-advantages {
    display: flex;
    margin-bottom: 15px;
}
#product #perfect .element {
    display: inline-block;
    flex: 1;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}
#product #perfect hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin-right: 6px;
    margin-left: 6px;
}

#product #phone-add {
    padding: 10px 45px 14px;
    margin-bottom: 20px;
    text-align: right;
}
#product #phone-add p {
    margin-bottom: 30px;
}


#calculator .box_root_item.box input:checked::after,
#calculator .sub_box_item.box input:checked::after{
    content: "";
}
#calculator .box_root_item.box input:checked,
#calculator .sub_box_item.box input:checked {
    background: url(../image/checkmark_grand.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 1px;
}
#calculator .box_root_item.box input {
    top: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 5px;
}
#calculator .text-type-furniture {
    margin: 0;
    margin-bottom: 10px;
}
#calculator .box_root-mobile, #calculator .dynamic_category {
    position: relative;
    margin-bottom: 5px;
    flex: 1;
}
#calculator .box_root_item p {
    left: 13px;
}
#calculator .box-root-sub {
    display: flex;
    flex-wrap: wrap;
    width: 308px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    text-align: left;
}
#calculator .sub_box_item.box  {
    width: 150px;
    height: 190px;
    position: relative;
    text-align: center;
}
#calculator .sub_box_item.box img {
    margin: 0;
    width: 90%;
    display: inline-block;
    margin-top: 20px;
}
#calculator .sub_box_item.box input {
    right: 6px;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 2px;
}
#calculator .sub_box_item.box p {
    position: static;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

#calculator .product_item.sub_box_item.box {
    height: 210px;
    margin-bottom: 4px;
}
#calculator .product_item.sub_box_item.box img {
    margin-top: 25px;
}
#calculator .product_item.sub_box_item.box p {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    position: absolute;
    left: 0;
    top: 171px;
}
#calculator .owl-item {
    width: auto;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    height: auto;
    margin: 0;
}

#calculator .product-root-box {
    padding-bottom: 20px;
}
#calculator #calculator-box>#cal-calculation-box, #calculator-box>#cal-dispatch-box {
    width: 100%;
    position: relative;
    height: auto;
    margin-bottom: -6px;
}

#calculator #calculator-box>#cal-calculation-box #standard {
    position: relative;
}
#calculator #calculator-box>#cal-calculation-box #standard:after {
    position: absolute;
    width: 1px;
    height: 26px;
    background: #d9d9d9;
    top: 2px;
    right: -1px;
    content: ' ';
    display: block;
}

#calculator #cal-calculation-box .button-box {
    display: flex;
    justify-content: center;
}
#calculator #cal-calculation-box #button-check {
    position: static;
    margin-top: 15px;
}
#calculator .calculation-standard-or-exclusive {
    position: relative;
    top: 0;
    text-align: center;

}
#calculator .standard-box, #exclusive-box {
    position: relative;
}
#calculator .block {
    position: relative;
    text-align: center;
}
#cal-calculation-box .standard-box .block:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 20px;
}
#cal-calculation-box>div {
    height: 100%;
}
#cal-calculation-box .block:nth-child(2) {
    margin-bottom: 20px;
}
#cal-calculation-box .standard-box .block p {
    padding: 0;
    margin: 0;
}

#calculator .standard-box #slider {
    position: static;
    margin: 0 auto;
}

#calculator .standard-box #width, #calculator .standard-box #height {
    position: static;
}


#calculator .exclusive-box .size {
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
}
#calculator .exclusive-box .size input{
    margin-top: 10px;
}

#calculator .calculation-standard-or-exclusive .price {
    position: static;
    width: 100%;
    bottom: 0;
    display: block;
}
#calculator #cal-calculation-box .cal_sub_price {
    position: static;
    margin-top: 10px;
    display: block;
}
#calculator #cal-calculation-box .cal_top_price {
    position: static;
    font-size: 24px;
    margin: 0;
    margin-bottom: 14px;
}
#calculator #cal-calculation-box .calculation-button {
    position: static;
    width: 225px;
    height: 35px;
    margin-bottom: 14px;
}
#calculator #cal-dispatch-box .calculator_dispatch {
    position: relative;
    top: 130px;
    left: 0;
}
#calculator #calculator-box>#cal-dispatch-box {
    width: 100%;
    position: relative;
    height: 248px;
}
#cal-dispatch-box {
    background-size: contain;
}
#calculator-box {
    padding-bottom: 20px;
}
#calculator-box  .error-box {
    display: block;
    position: static;
}

/* slider */
#calculator .ui-slider-horizontal .ui-slider-handle {
    top: -9px;
}
#calculator .ui-slider .ui-slider-handle {
    width: 22px;
    height: 22px;
}


#calculator #banner-mobile {
    content: url('../image/calculator_banner_mini.jpg');
    margin-bottom: 20px;
    cursor: pointer;
}



#aboutcompany .picture-back.aboutcompany, #contacts .picture-back.contacts {
    background-size: contain;
    background-repeat: no-repeat;
}
#aboutcompany .picture-back, #contacts .picture-back {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
}
#aboutcompany .aboutcompany.text_box, .contacts.text_box {
    top: 0;
    margin: 0;
    margin-top: 127px;
    width: 100%;
    left: 0;
    margin-bottom: 30px;
}
#aboutcompany .aboutcompany.text_box, .contacts.text_box {
    padding-bottom: 20px;
}
#special .special-plit .image {
    height: 312px;

}
#special .special-plit>div {
    margin-bottom: 10px;
}
#special .special-plit>div:last-child {
    margin-bottom: 20px;
}











/*footer*/
footer #line {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #000000;
  width:100%;
  text-align: center;
    align-content: center;
}
footer .footer-body-mini span {
    font-size: 15px;
}
footer .col-hh-4 {
    padding-left: 4px;
    padding-right: 4px;
}

footer .icon{
    float: left;
}
footer .icon .vk-icon {
    padding-left: 7px;
    padding-right: 7px;
}
footer .body-footer {
    padding-left: 110px;
    padding-right: 110px;
}
footer.container {
    margin-top: 0;
}
footer .down {
    padding-top: 12px;
    padding-bottom: 12px;
}
