body {
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
    font-family: 'Verdana',sans-serif;
    font-weight: 400;
    color: #666;
    color: #212121;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



h1, h2, h3, h4, h5, h6 {
    color: #000;
}

/* default font size */
.fa {
    font-size: 14px;
}

/* Override the bootstrap defaults */
h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Georgia', sans-serif;
    font-size: 30px;
}

h3 {
    font-size: 18px;
    /*font-size: 21px; */
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #000000;
}

a:hover, a:focus {
    text-decoration: none;
    color: #000000;
}

p {

    font-size: 16px;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 12px;
    font-weight: normal;
}




#menu-mini {
    position: absolute;
}
#menu_animation_box {
    position: relative;
    top: 28px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#menu_animation_box div {
    width: 20px;
    height: 1px;
    background-color: #f2213e;
    position: absolute;
    cursor: inherit;
}
#menu_animation_box #d1 {
    top: 0px;
}
#menu_animation_box #d2 {
    top: 6px;
}
#menu_animation_box #d3 {
    top: 12px;
}
#menu-mini h3 {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 25px;
}


/* logo */
#logo {
    margin: 0 0 10px 0;
}
#logo-mini {
    margin-top: 14px;
    margin-bottom: 12px;
}
#logo-mini img {
    width: 160px;
}


/* content */
#content {
    min-height: 600px;
}

/* breadcrumb */
.breadcrumb {
    padding: 0;
    margin-top: 14px;
    margin-bottom: 0;
}

.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0px 13px;
    position: relative;
    white-space: nowrap;
    color: #ef3636!important;
}

.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.breadcrumb > li a {
    color: #000000!important;
}
.breadcrumb > li a.red {
    color: #ef3636!important;
}
.breadcrumb > li:after {
    display: block;
    position: absolute;
    content: url(../image/arrow.png);
    top: 1px;
    right: -6px;
}
.breadcrumb > .breadcrumb_last:after {
    display: none;
}








/*carusel */
.owl-carousel {
    margin: 0;
}
.owl-arrow {
    background-image: url("../image/carousel-arrow.png");
    background-size: cover;
    width: 26px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    transition-property: left, right;
    transition-duration: 0.3s;
    top: 0;
    bottom: 0;
    margin: auto;
}
.owl-carousel .transformation{
    transform: rotate(180deg);
}

.owl-prev{
    left: -10px;

}
.owl-next{
    right: -10px;
}
.owl-carousel .owl-prev-active{
    left: -15px;
}
.owl-carousel .owl-next-active{
    right: -15px;
}




/* product list */

.product-thumb {
    border: 1px solid #d9d9d9;
    overflow: auto;
    border-radius: 6px;
    height: 400px;
    width: 263px;
    position: relative;
    display: inline-block;
    float: left;
}
.product-thumb .image a {
    display: block;
}
.product-thumb .image a:hover {
    opacity: 0.8;
}
.product-thumb .image {
    margin: 5px;
    text-align: center;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.product-thumb .name {
    position: absolute;
    top: 280px;
    margin: 0;
}
.product-thumb .price {
    position: absolute;
    margin: 0;
    bottom: 53px;
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.product-thumb .price span {
    font-style: normal;
}
.product-thumb .price, .product-thumb .name {
    left: 17px;
    width: 225px;
}
.product-thumb .button {
    position: absolute;
    left: 7px;
    bottom: 11px;
    width: 245px;
    height: 30px;
    line-height: 26px;
    font-size: 14px;
}

.ui-slider .ui-slider-handle{
    border-radius: 2px;
}











@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }

    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
    min-width: 50px;
}










/* HEADER */
header h3 {
    padding: 0;
    margin: 0;
}
header h4 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

header .header-left {
    padding-left: 10px;
}
header .header-right {
    padding-right: 10px;
}

header .header-left h3  {
    margin-top: 20px;
}
header #right-bottom-header {
    margin-top: 20px;
}
header .row-top{
    margin-bottom: 8px;
}

header #navigation_bar {
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0;
}



/*FOOTER */


/* footer */

footer a {
    color: black;
    font-size: 12px;
}

footer #line {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000000;
    width:1140px;
    text-align: center;
    margin-left: -15px;
}

.footer-top {
    text-align: center;
}
.footer-top a{
    display: inline-block;
    margin: 0 58px;
}
.footer-top .box-image {
    padding-top: 35px;
}

footer li {
    color:#e31616;
    padding-bottom: 12px;
    list-style-type: none;
    position: relative;
}


footer .list-footer {
    font-size: 14px;
}
footer .list-footer li:before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    display: inline;
    background: red;
    border-radius: 2px;
    left: -11px;
    top: 8px;
}
footer .list-footer.two li:first-child::before {
    /*  top: 17px;
      line-height: 1; */
}
footer .payment-methods-box {
    text-align: center;
}
footer .footer-body {
    padding-top: 50px;
    padding-bottom: 12px;
}
footer .footer-body h3 {
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0;
}
footer .footer-body ul {
    padding: 0; /* Убираем поля */
    margin-left: 20px; /* Отступ слева */
    list-style-type: square;
}

footer .footer-body i {
    left: -30px;
    position: absolute;
}
footer .footer-body .footer-icon-right-1 {
    left: -31px;
    background-image: url(../image/footer-icon-right-1.svg);
    width: 10px;
    height: 15px;
}
footer .footer-body .footer-icon-right-2 {
    left: -30px;
    background-image: url('../image/footer-icon-right-2.svg');
    width: 10px;
    height: 15px;
}
footer .footer-body .footer-icon-right-3 {
    left: -33px;
    background-image: url('../image/footer-icon-right-3.svg');
    width: 15px;
    height: 11px;
}

footer .footer-body-mini {
    padding-bottom: 12px;
}

footer .hidden-lg img {
    display: inline;
    width: 32px;
    height: 32px;
    margin-top: 7px;
}
footer .footer-body .list-unstyled {
    padding-left: 53px;
}
footer .list-unstyled li {
    font-size: 16px;
    list-style-type: none;
    list-style-position: outside;
}
footer .list-unstyled li p{
    font-size: 13px;
    line-height: 0.9;
    color: #000000;
}
footer .down {
    padding-top: 12px;
    padding-bottom: 2px;
}


footer .connect_with_us {
    background: url('../image/footer_settings.png');
    width: 50px;
    height: 47px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 6px;
}
footer .info {
    float: right;
    width: auto;
}

footer #f-padding {
    padding-left: 16px;
}
footer .payment-methods{
    text-align: center;
}

footer .down-text{
    padding-top: 12px;
    padding-bottom: 2px;
}





/* catalog product */




#review #image {
    width: 1110px;
    height: 315px;
    background: url(../image/review-banner.jpg) no-repeat;
    display: block;
}
#review .image-comment.aristo {
    width: 25%;
    height: 168px;
    background: url(../image/review-comment-image.png) no-repeat;
}
#review .text-comment  {
    width: 75%;
}
#review .text-comment  {
    width: 75%;
}
#review table  {
    margin-bottom: 35px;
}
#review table a {
    cursor: pointer;
}








.aboutcompany.text_box, .contacts.text_box {
    position: relative;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    top: 294px;
    width: 950px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-bottom: 312px;
}

.picture-back {
    position: absolute;
    width: 1140px;
    height: 482px;
    left: 15px;
    z-index: -1;
}












.error {
    color: #f00;
    white-space: nowrap;
}




@font-face {
    font-family: Verdana; /* Гарнитура шрифта */
    src: url(../stylesheet/font/verdana-regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Verdana; /* Гарнитура шрифта */
    src: url(../stylesheet/font/verdana-bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}
@font-face {


    font-family: Georgia; /* Гарнитура шрифта */
    src: url(../stylesheet/font/georgia.ttf); /* Путь к файлу со шрифтом */
}

.font-type-georgia {
    font-family: 'Georgia',sans-serif;
}

.font-type-verdana {
    font-family: 'Verdana',sans-serif;
}
.font-size-30 {
    font-size: 30px!important;
}
.font-size-24 {
    font-size: 24px!important;
}
.font-size-18 {
    font-size: 18px!important;
}
.font-size-16 {
    font-size: 16px!important;
}
.font-size-15 {
    font-size: 15px!important;
}
.font-size-14 {
    font-size: 14px!important;
}
.font-size-13 {
    font-size: 13px!important;
}
.font-size-12 {
    font-size: 12px!important;
}
.font-bold {
    font-weight: bold;
}
.font-italic {
    font-style: italic;
}
.font-underline {
    text-decoration:underline;
}




.text {
    font-size: 14px;
}


.border-gray {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
.line {
    position: absolute;
    left: 146px;
    top: 4px;
    width: 1px;
    height: 25px;
    background-color: #d9d9d9;
}

.line-red {
    margin-left: 11px;
}
.line-red:after {
    position: relative;
    width: 233px;
    height: 2px;
    background: red;
    top: 3px;
    content: ' ';
    display: block;
    left: -5px;
}

.no-padding {
    padding: 0;
}

.border-bottom-dark {
    border-bottom: 1px solid #000000;
}

.border-top-dark {
    border-top: 1px solid #000000;
}



.line-dark-after:after {
    position: relative;
    width: 233px;
    height: 1px;
    background: #000000;
    top: 0;
    left: 0;
    content: ' ';
    display: block;
}

.dark {
    color: #000000;
}

.gray {
    color: #bdbbbb;
}
.red {
    color: #f2213e!important;
}
.green {
    color: #7acc39!important;
}
.orange {
    color: #e77100;
}


.block-line {
    display: inline-block;
}
.input-field {
    border-radius: 9px;
    border: 1px solid #303030;
    padding: 4px;
    outline: none;
}
.button-style-1 {
    background-color: #f2213e;
    border-radius: 6px;
    color: #ffffff;
    height: 35px;
    /*width: 154px;*/
    position: relative;
    display: inline-block;
    /*line-height: 35px;*/
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.button-style-1:hover, .button-style-1:focus {
    color: #ffffff;
    text-decoration: none;
}


/*.button-style-2 {
    background-color: #ffffff;
    border: 1px solid #f2213e;
    border-radius: 6px;
    color: #f2213e;
    height: 32px;
    width: 154px;
    cursor: pointer;
}*/


/*.button-style-3 {
    background-color: #f4ec3a;
    border-radius: 6px;
    color: #312f0c;
    height: 35px;
    width: 154px;
    position: relative;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.button-style-3:hover, .button-style-3:focus {
    color: #312f0c;
    text-decoration: none;
}*/



.button-style-4 {
    background-color: #7acc39;
    border-radius: 6px;
    color: #ffffff;
    height: 35px;
    width: 154px;
    position: relative;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.button-style-4:hover, .button-style-1:focus {
    color: #ffffff;
    text-decoration: none;
}


.block-padding-min {
    padding-left: 15px;
    padding-right: 15px;
}





.message-pupop {
    width: 290px;
    height: 65px;
    padding: 6px;
    line-height: 18px;
    position: absolute;
    bottom: 259px;
    z-index: 100;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    text-align: justify;
}
.message-pupop .arrow {
    left: 115px;
    top: 43px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #d9d9d9;
    display: block;
    transform: rotate(45deg);
    border-right: 1px solid #d9d9d9;
    background-color: #FFFFFF;

    z-index: 3;
}
.message-pupop #text {
    z-index: 101;
    position: absolute;
}




body {
    /*background: url(../image/000.png) no-repeat;
    opacity: 0.7;
    background-position-x: 78px;
    background-position-y: 53px;*/
}
.coool {
    width: 20.666667%!important;
}




