/*root */
.container {
    width: auto;
}
.font-size-16 {
    font-size: 15px!important;
}
.check-right {
    display: none;
}
.back a {
    width: 100px;
    font-size: 14px;
    padding-right: 0;
    text-align: center;
}
.back a {
    background: none;
}


/*header*/
#logo-mini{
   /* text-align: right;*/
    margin-right: -9px;
}

/*home */
#home #background-service {
    height: 57vw;
}

#home .service p {
    font-size: 14px;
}
#home .service_input {
    margin: 0;
}
#menu-mini h3 {
    display: none;
}

/*category */


#category .product-grid>.col-xs-12>.col-xs-8>button {
    padding: 3px 17px;
}


#category .back a {
    width: 100px;
    font-size: 14px;
    padding-right: 0;
    text-align: center;
}
#category .back a {
    background: none;
}
#category #name-box p {
    font-size: 12px;
}


#product .nav.nav-tabs .button:first-child {
    flex: 2;
}
#product #characteristic-tab #size-box-mobile {
    flex-direction: column;
    height: 100%;
}

#product #characteristic-tab #size-box-mobile>div {
    flex: 1;
    padding: 0;
    padding: 3px;
}
#product #perfect .payment, #product #perfect .our-advantages {
    flex-direction: column;
}
#product #perfect .element>p, #product #perfect .our-advantages>p {
    font-size: 14px;
    margin-top: 9px;
    line-height: 1.2;
    margin-bottom: 9px;
}
#product #phone-add {
    padding: 10px 10px 14px;
    margin-bottom: 20px;
    text-align: center;
}
#product #phone-add p {
    margin-bottom: 15px;
}
#product #phone-add .input-fild-telephone {
    text-align: center;
    margin-bottom: 15px;
}
#product #phone-add .input-fild-telephone, #product #phone-add input[type='button'] {
    width: 100%;
    border-radius: 6px;
}




/*footer*/
footer .footer-body-mini span {
    font-size: 13px;
}
footer .body-footer {
    padding-left: 20%;
    padding-right: 20%;
}